/* Decathlon Sans font => https://www.decathlon.design/foundations/typography/overview*/
@import "@vtmn-play/fonts/decathlon";
@import "@vtmn-play/fonts/decathlon-brand";

/* Design tokens => https://www.decathlon.design/foundations/tokens/overview */
@import "@vtmn-play/design-tokens/foundations-light";

/* Typography utilities => https://www.decathlon.design/foundations/typography/styles */
@import "@vtmn-play/css/utility/typography";

/* Basic normalizer to reduce browser differences */
@import "@vtmn-play/css/utility/normalizer";

/* Correct layering */
@layer theme, base, components, vitamin-play, utilities;

/* 
As an alternative to `@import "tailwindcss"`, we import specific stuff so we can exclude the preflight.
See https://tailwindcss.com/docs/preflight 
*/
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@vtmn-play/tailwindcss/theme";

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  color: var(--vp-semantic-color-content-neutral);
  background-color: var(--vp-semantic-color-container-neutral);
}

@media (max-width: 767px) {
  .desktopOnly {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
}

@theme {
  --color-vp-white: #ffffff;
  --color-vp-black: #000000;
  --color-vp-status-negative: #d70321;
  --color-vp-status-warning: #db6900;
  --color-vp-status-positive: #149b65;
  --color-vp-status-info: #3643ba;
  --color-vp-primary: #3643ba;
  --color-vp-secondary: #e1e3f5;
  --color-vp-background: #ffffff;
  --color-vp-background-alt: #f5f4f5;
  --color-vp-red-050: #fddfe0;
  --color-vp-red-100: #fec9cb;
  --color-vp-red-200: #fd9297;
  --color-vp-red-300: #fd7278;
  --color-vp-red-400: #d70321;
  --color-vp-red-500: #ab0009;
  --color-vp-red-600: #870007;
  --color-vp-red-700: #5a0005;
  --color-vp-purple-050: #ebd8fd;
  --color-vp-purple-100: #e1c5fc;
  --color-vp-purple-200: #d6b1fc;
  --color-vp-purple-300: #c998fa;
  --color-vp-purple-400: #ae64f8;
  --color-vp-purple-500: #9839f6;
  --color-vp-purple-600: #410580;
  --color-vp-purple-700: #27034c;
  --color-vp-blue-050: #e7f3f9;
  --color-vp-blue-100: #bedeef;
  --color-vp-blue-200: #7ebee0;
  --color-vp-blue-300: #3d9acc;
  --color-vp-blue-400: #007dbc;
  --color-vp-blue-450: #0071b5;
  --color-vp-blue-500: #00689d;
  --color-vp-blue-600: #00537d;
  --color-vp-blue-700: #012b49;
  --color-vp-cobalt-010: #f5f4f5;
  --color-vp-cobalt-050: #e3e6fc;
  --color-vp-cobalt-100: #c3c9f8;
  --color-vp-cobalt-200: #9ea7fa;
  --color-vp-cobalt-300: #6c7bfb;
  --color-vp-cobalt-400: #5261e0;
  --color-vp-cobalt-500: #3643ba;
  --color-vp-cobalt-600: #313daa;
  --color-vp-cobalt-700: #262f82;
  --color-vp-cobalt-800: #1e2567;
  --color-vp-cobalt-900: #171c4f;
  --color-vp-mint-050: #f0fff4;
  --color-vp-mint-100: #d6ffe3;
  --color-vp-mint-200: #c2ffd6;
  --color-vp-mint-300: #a8ffc5;
  --color-vp-mint-400: #94ffb8;
  --color-vp-mint-500: #7affa6;
  --color-vp-mint-600: #6ee797;
  --color-vp-mint-700: #58b678;
  --color-vp-mint-800: #149b65;
  --color-vp-mint-900: #336b46;
  --color-vp-green-050: #d5f5ec;
  --color-vp-green-100: #beefe2;
  --color-vp-green-200: #7cdfc4;
  --color-vp-green-300: #21ce9c;
  --color-vp-green-400: #02be8a;
  --color-vp-green-500: #029e73;
  --color-vp-green-600: #017f5c;
  --color-vp-green-700: #006f43;
  --color-vp-conifer-050: #eafbe8;
  --color-vp-conifer-100: #cbf0c7;
  --color-vp-conifer-200: #88d77f;
  --color-vp-conifer-300: #74c76a;
  --color-vp-conifer-400: #23a942;
  --color-vp-conifer-500: #41a036;
  --color-vp-conifer-600: #378d2e;
  --color-vp-conifer-700: #256c1d;
  --color-vp-yellow-050: #fffef0;
  --color-vp-yellow-100: #fffbc7;
  --color-vp-yellow-200: #fff58d;
  --color-vp-yellow-300: #fff370;
  --color-vp-yellow-400: #ffea28;
  --color-vp-yellow-500: #bcb02c;
  --color-vp-yellow-600: #999028;
  --color-vp-yellow-700: #67611b;
  --color-vp-gold-050: #fffcf5;
  --color-vp-gold-100: #fff1cc;
  --color-vp-gold-200: #ffe9b2;
  --color-vp-gold-300: #ffdb80;
  --color-vp-gold-400: #ffcd4e;
  --color-vp-gold-500: #e5a500;
  --color-vp-gold-600: #bd8700;
  --color-vp-gold-700: #805b00;
  --color-vp-orange-050: #ffe5d6;
  --color-vp-orange-100: #ffd0b4;
  --color-vp-orange-200: #ffb78e;
  --color-vp-orange-300: #fe9a60;
  --color-vp-orange-400: #ff8946;
  --color-vp-orange-500: #f55a02;
  --color-vp-orange-600: #b74909;
  --color-vp-orange-700: #913908;
  --color-vp-grey-050: #f7f8f9;
  --color-vp-grey-100: #eff1f3;
  --color-vp-grey-200: #d9dde1;
  --color-vp-grey-300: #b3bac3;
  --color-vp-grey-400: #8c96a2;
  --color-vp-grey-500: #687787;
  --color-vp-grey-600: #4e5d6b;
  --color-vp-grey-700: #344450;
  --color-vp-grey-800: #1a2a34;
  --color-vp-grey-900: #142129;
  --color-vp-grey-950: #001018;
  --color-vp-rock-010: #f1f0ee;
  --color-vp-rock-020: #e1e0df;
  --color-vp-rock-050: #bfbfbf;
  --color-vp-rock-100: #a8a8a8;
  --color-vp-rock-200: #949494;
  --color-vp-rock-300: #7a7a7a;
  --color-vp-rock-400: #616161;
  --color-vp-rock-500: #424242;
  --color-vp-rock-600: #383838;
  --color-vp-rock-700: #2b2b2b;
  --color-vp-rock-800: #1f1f1f;
  --color-vp-rock-900: #101010;
  --color-vp-turquoise-050: #c0f5ff;
  --color-vp-turquoise-100: #92edff;
  --color-vp-turquoise-200: #5ce4ff;
  --color-vp-turquoise-300: #26dbff;
  --color-vp-turquoise-400: #00c6ee;
  --color-vp-turquoise-500: #009caf;
  --color-vp-turquoise-600: #007585;
  --color-vp-turquoise-700: #00424a;
  --color-vp-pink-050: #fbdaf2;
  --color-vp-pink-100: #faceee;
  --color-vp-pink-200: #f69cdd;
  --color-vp-pink-300: #f16bcc;
  --color-vp-pink-400: #ec3abb;
  --color-vp-pink-500: #cf149b;
  --color-vp-pink-600: #850063;
  --color-vp-pink-700: #490737;
}
